html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "osRegular";
  src: url("fonts/opensans-regular-webfont.woff2") format("woff2"), url("fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "osLight";
  src: url("fonts/opensans-light-webfont.woff2") format("woff2"), url("fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "osBold";
  src: url("fonts/opensans-bold-webfont.woff2") format("woff2"), url("fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "osItalic";
  src: url("fonts/opensans-italic-webfont.woff2") format("woff2"), url("fonts/opensans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  padding-bottom: 80px;
  font-size: 0px;
  font-family: "osRegular", Helvetica, sans-serif; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 25px; }
  .container::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (min-width: 1080px) {
    .container {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto; }
      .container::after {
        clear: both;
        content: "";
        display: block; } }
  @media screen and (min-width: 1450px) {
    .container {
      max-width: 1350px;
      margin-left: auto;
      margin-right: auto; }
      .container::after {
        clear: both;
        content: "";
        display: block; } }

h3 {
  margin-bottom: 0.6em; }

p, li {
  margin-bottom: 0.8em;
  color: #505050;
  font-size: 16px;
  line-height: 1.6em; }

li {
  list-style-position: inside; }

.btn, article.who .who__btn, article.actions .actions__btn, article.goals .goals__btn, .form .form__btn, article.support .support__btn {
  margin-bottom: 2.5em;
  display: inline-block;
  border: 2px solid #1840d1;
  border-radius: 4px;
  transition: background-color 0.24s ease-out; }
  .btn a, article.who .who__btn a, article.actions .actions__btn a, article.goals .goals__btn a, .form .form__btn a, article.support .support__btn a {
    display: inline-block;
    padding: 0.6em 1em;
    color: #1840d1;
    font-size: 18px;
    transition: color 0.24s ease-out;
    cursor: pointer; }
  .btn:hover, article.who .who__btn:hover, article.actions .actions__btn:hover, article.goals .goals__btn:hover, .form .form__btn:hover, article.support .support__btn:hover, .btn:focus, article.who .who__btn:focus, article.actions .actions__btn:focus, article.goals .goals__btn:focus, .form .form__btn:focus, article.support .support__btn:focus {
    background-color: #1840d1; }
    .btn:hover a, article.who .who__btn:hover a, article.actions .actions__btn:hover a, article.goals .goals__btn:hover a, .form .form__btn:hover a, article.support .support__btn:hover a, .btn:focus a, article.who .who__btn:focus a, article.actions .actions__btn:focus a, article.goals .goals__btn:focus a, .form .form__btn:focus a, article.support .support__btn:focus a {
      color: #ffffff; }

nav {
  text-align: center;
  padding: 20px 0; }
  nav li {
    margin-bottom: 0;
    display: inline-block;
    font-family: "osBold";
    text-transform: uppercase; }
    nav li a {
      padding: 0 1.4em;
      transition: color 0.24s; }
      nav li a:hover, nav li a:focus {
        color: #1840d1;
        cursor: pointer; }

header {
  position: relative;
  margin-bottom: 30px;
  height: 400px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (min-width: 600px) {
    header {
      background-image: url("img/landingBackground.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom; } }
  header .header__background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1840d1;
    transition: background-color 0.24s; }
    @media screen and (min-width: 600px) {
      header .header__background {
        background-color: rgba(24, 64, 209, 0.4); } }
  header .header__titles {
    position: relative;
    transform: translateY(60px);
    z-index: 5; }
  header h1 {
    margin-bottom: -20px;
    font-size: 150px;
    font-family: "osBold";
    letter-spacing: 0.1em; }
  header h2 {
    font-family: "osLight";
    font-size: 28px; }

section {
  margin-bottom: 50px; }

article.who {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 42px; }
  article.who:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1080px) {
    article.who {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding-right: 10px;
      border-right: 2px solid #cfcfcf; }
      article.who:last-child {
        margin-right: 0; } }
  article.who .who__title {
    font-family: "osLight";
    font-size: 30px; }

article.actions {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 42px; }
  article.actions:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1080px) {
    article.actions {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      text-align: right; }
      article.actions:last-child {
        margin-right: 0; } }
  article.actions .actions__title {
    font-family: "osLight";
    font-size: 30px; }

article.goals {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 42px; }
  article.goals:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1080px) {
    article.goals {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      article.goals:last-child {
        margin-right: 0; } }
  article.goals .goals__title {
    font-family: "osLight";
    font-size: 30px; }

article.programm {
  margin: 0 auto;
  margin-bottom: 42px; }
  @media screen and (min-width: 1080px) {
    article.programm {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      article.programm:last-child {
        margin-right: 0; } }
  article.programm .programm__item {
    display: inline-block;
    margin: 0;
    height: 200px;
    width: 50%;
    text-align: center;
    background-color: #1840d1;
    border: 2px solid #ffffff; }
    @media screen and (min-width: 1080px) {
      article.programm .programm__item {
        width: 33%; } }
    article.programm .programm__item p, article.programm .programm__item li {
      color: #ffffff;
      font-family: "osBold";
      line-height: 200px;
      text-transform: uppercase;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      article.programm .programm__item p:last-child, article.programm .programm__item li:last-child {
        margin-right: 0; }

.form {
  margin-bottom: 42px;
  text-align: center; }
  .form .form__title {
    margin-bottom: 1.4em;
    font-family: "osLight";
    font-size: 30px;
    text-align: center; }
  .form fieldset {
    border: none; }
  .form .formMail__label, .form .formMessage__label {
    display: block;
    margin-bottom: 0.6em;
    font-family: "osRegular";
    font-size: 22px; }
  .form .formMail__input, .form .formMessage__input {
    display: block;
    margin: 0 auto;
    margin-bottom: 21px;
    width: 80%;
    padding: 0.6em 1em;
    font-size: 16px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 6px;
    outline: none; }
    @media screen and (min-width: 1080px) {
      .form .formMail__input, .form .formMessage__input {
        width: 600px; } }
  .form .formMessage__input {
    resize: verticalcfcfcf; }
  .form .form__btn {
    background-color: #1840d1; }
    .form .form__btn a {
      color: #ffffff; }

article.processus {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 42px; }
  article.processus:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1080px) {
    article.processus {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding-right: 10px;
      border-right: 2px solid #cfcfcf; }
      article.processus:last-child {
        margin-right: 0; } }
  article.processus .processus__title {
    font-family: "osLight";
    font-size: 30px; }

article.support {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 42px; }
  article.support:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1080px) {
    article.support {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      text-align: right; }
      article.support:last-child {
        margin-right: 0; } }
  article.support .support__title {
    font-family: "osLight";
    font-size: 30px; }

footer .social, footer .legal {
  text-align: center; }
footer .social__facebook, footer .social__twitter {
  display: inline-block !important;
  padding: 0px 20px; }

/*# sourceMappingURL=app.css.map */
