$brandPrimary : #1840d1
$textColor: #505050

$fontRegular: 'osRegular', Helvetica, Arial, sans-serif
$fontLight: 'osLight', Helvetica, Arial, sans-serif
$fontBold: 'osBold', Helvetica, Arial, sans-serif
$fontItalic: 'osItalic', Helvetica, Arial, sans-serif

$time: 0.240s

// $visual-grid: true !global
// $visual-grid-color: #cfcfcf !global

@import "bourbon/bourbon"
@import "neat/neat"
@import "_fonts.sass"

=adapt($size)
  @media screen and (min-width: #{$size})
    @content

*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0

body
  padding-bottom: 80px
  font-size: 0px
  font-family: $fontRegular, Helvetica, sans-serif
  overflow-x: hidden

.container
  +outer-container(100%)
  padding: 0px 25px

  +adapt(1080px)
    +outer-container(960px)

  +adapt(1450px)
    +outer-container(1350px)

h3, h4
  margin-bottom: 0.6em

p
  margin-bottom: 0.8em
  color: $textColor
  font-size: 16px
  line-height: 1.6em

li
  @extend p
  list-style-position: inside

.btn
  margin-bottom: 2.5em
  display: inline-block
  border: 2px solid $brandPrimary
  border-radius: 4px

  transition: background-color $time ease-out

  a
    display: inline-block
    padding: 0.6em 1em

    color: $brandPrimary
    font-size: 18px

    transition: color $time ease-out

    cursor: pointer

  &:hover, &:focus
    background-color: $brandPrimary

    a
      color: #ffffff

nav
  text-align: center
  padding: 20px 0

  li
    margin-bottom: 2em
    display: block

    font-family: $fontBold
    text-transform: uppercase

    +adapt(600px)
      margin-bottom: 0
      display: inline-block

    a
      padding: 2em 0
      transition: color $time

      +adapt(600px)
        padding: 0 1.4em

      &:hover, &:focus
        color: $brandPrimary
        cursor: pointer

a
  color: inherit
  text-decoration: none

header
  position: relative
  margin-bottom: 30px

  color: #ffffff
  text-align: center
  text-transform: uppercase

  +adapt(600px)
    background-image: url('img/landingBackground.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom

  .header__background
    position: absolute
    height: 100%
    width: 100%
    background-color: $brandPrimary
    transition: background-color $time

    +adapt(600px)
      background-color: rgba($brandPrimary, 0.4)

  .header__titles
    padding: 100px 0px
    position: relative
    z-index: 5

  h1
    margin-bottom: -20px
    font-size: 100px
    font-family: $fontBold

    +adapt(600px)
      font-size: 150px
      letter-spacing: 0.1em

  h2
    font-family: $fontLight
    font-size: 20px

    +adapt(600px)
      font-size: 28px

  &.actions, &.programme, &.bio
    width: 100%
    text-align: center

    .header__titles
      position: relative
      z-index: 5

      +adapt(650px)

    h1
      font-size: 36px
      margin-bottom: 0

      +adapt(650px)
        font-size: 42px
        letter-spacing: 0.1em

  &.actions
    background-image: url('img/actionsBackground.png')
  &.programme
    background-image: url('img/programmeBackground.png')
  &.bio
    background-image: url('img/bioBackground.png')

section
  margin-bottom: 50px
  overflow-x: hidden

// LANDING
.who
  +span-columns(12)
  margin-bottom: 42px

  +adapt(1080px)
    +span-columns(6)
    padding-right: 10px
    border-right: 2px solid #cfcfcf

  .who__title
    font-family: $fontLight
    font-size: 30px

  .who__btn
    @extend .btn

.actions
  +span-columns(12)
  margin-bottom: 42px

  +adapt(1080px)
    +span-columns(6)
    text-align: right

  .actions__title
    font-family: $fontLight
    font-size: 30px

  .actions__btn
    @extend .btn

.goals
  +span-columns(12)
  margin-bottom: 42px

  +adapt(1080px)
    +span-columns(6)

  .goals__title
    font-family: $fontLight
    font-size: 30px

  .goals__btn
    @extend .btn

.programm
  margin: 0 auto
  margin-bottom: 42px

  +adapt(1080px)
    +span-columns(6)

  .programm__item
    display: inline-block
    margin: 0
    height: 200px
    width: 50%

    text-align: center

    background-color: $brandPrimary
    border: 2px solid #ffffff

    +adapt(1080px)
      width: 33%

    p
      color: #ffffff
      font-family: $fontBold
      line-height: 200px
      text-transform: uppercase

      +span-columns(12)

.form
  margin-bottom: 42px
  text-align: center

  .form__title
    margin-bottom: 1.4em
    font-family: $fontLight
    font-size: 30px
    text-align: center

  fieldset
    border: none

  .formMail__label, .formMessage__label
    display: block
    margin-bottom: 0.6em
    font-family: $fontRegular
    font-size: 22px

  .formMail__input
    display: block
    margin: 0 auto
    margin-bottom: 21px
    width: 80%
    padding: 0.6em 1em

    font-size: 16px

    background-color: #f0f0f0
    border: none
    border-radius: 6px
    outline: none

    +adapt(1080px)
      width: 600px

  .formMessage__input
    @extend .formMail__input
    resize: verticalcfcfcf

  .form__btn
    @extend .btn
    background-color: $brandPrimary

    a
      color: #ffffff

.processus
  +span-columns(12)
  margin-bottom: 42px

  +adapt(1080px)
    +span-columns(6)
    padding-right: 10px
    border-right: 2px solid #cfcfcf

  .processus__title
    font-family: $fontLight
    font-size: 30px

.support
  +span-columns(12)
  margin-bottom: 42px

  +adapt(1080px)
    +span-columns(6)
    text-align: right

  .support__title
    font-family: $fontLight
    font-size: 30px

  .support__btn
    @extend .btn

// ACTIONS
.region
  +span-columns(12)
  margin-bottom: 42px

  +adapt(1080px)
    +span-columns(6)

  .region__title
    font-family: $fontLight
    font-size: 30px

.events
  clear: both
  margin-bottom: 42px

.article
  margin-bottom: 30px
  clear: both
  background-color: #efefef

  .article__img
    +adapt(1080px)
      +span-columns(6)
    height: 250px
    background-color: #303030

  .article__infos
    +adapt(1080px)
      +span-columns(6)
    padding: 15px
    text-align: right

  .article__title
    font-family: $fontLight
    font-size: 30px

  .social a
    padding: 0 10px

.nextEvents
  margin: 0 42px
  text-align: center
  clear: both

.nextEvent
  margin-bottom: 20px
  +adapt(1080px)
    display: inline-block
    padding: 10px
    width: 15%
    text-align: center
    border: 1px solid #333333

  p.nextEvent__date
    font-family: $fontBold

.usine
  +span-columns(12)
  margin-bottom: 42px

  +adapt(1080px)
    padding-right: 10px
    border-right: 2px solid #cfcfcf

  .usine__title
    font-family: $fontLight
    font-size: 30px

.envies
  +span-columns(12)
  margin-bottom: 42px
  text-align: center

  .envies__title
    font-family: $fontLight
    font-size: 30px
    text-align: center

  .envies__txt
    text-align: center
    +adapt(1080px)
      margin-left: auto
      margin-right: auto
      width: 400px

  .envies__btn
    @extend .btn

.travel
  +span-columns(12)
  margin-bottom: 42px

  +adapt(1080px)
    +span-columns(12)
    text-align: center

  .travel__title
    font-family: $fontLight
    font-size: 30px

  .travel__txt
    margin-left: auto
    margin-right: auto
    margin-bottom: 2em
    text-align: center
    +adapt(1080px)
      width: 400px

  .travel__btn
    @extend .btn

// PROGRAMME
.programmeArticle
  padding: 30px 0
  +span-columns(12)
  margin-bottom: 100px
  position: relative

  +adapt(1080px)
    +span-columns(12)

  .title__container
    position: relative

  .programmeArticle__title
    font-family: $fontLight
    font-size: 30px
    text-align: center

    +adapt(1080px)
      text-align: left

  .number
    position: absolute
    top: 0
    left: 50%

    color: rgba($brandPrimary, 0.3)
    font-family: $fontBold
    font-size: 56px

    transform: translate(-50%, -30%)

    +adapt(1080px)
      left: -5px
      font-size: 150px

  .programmeArticle__txt
    margin-bottom: 2em

  &:nth-child(even)
    padding: 30px 0 80px 0
    background-color: #ececec

    +adapt(1080px)
      .number
        left: calc(100% - 5px)

      .programmeArticle__title
        text-align: right

      .programmeArticle__txt
        text-align: right

    &::after
      content: ""
      position: absolute
      top: -100px
      z-index: -5
      left: -100px
      right: -100px
      height: 300px
      background-color: #ececec

      transform-origin: 50% 0%
      transform: rotate(-5deg)

// BIO
.caractereArticle
  margin-bottom: 42px
  clear: both

  +adapt(1080px)
    text-align: right

  .caractereArticle__img
    height: 300px
    background-color: #333333
    margin-bottom: 30px

    +adapt(1080px)
      +span-columns(6)

  .caractereArticle__infos
    +adapt(1080px)
      +span-columns(6)

  .caractereArticle__title
    font-family: $fontLight
    font-size: 30px
    text-align: center

    +adapt(1080px)
      text-align: right

  .caractereArticle__txt
    +adapt(1080px)
      text-align: right

  .tag
    @extend .btn
    cursor: default
    &:first-of-type
      margin-right: 15px


  &:nth-child(even)
    +adapt(1080px)
      text-align: left

    .caractereArticle__img
      +adapt(1080px)
        margin-right: -10px
        float: right

    .caractereArticle__title, .caractereArticle__txt
      +adapt(1080px)
        text-align: left

footer
  .social, .legal
    text-align: center

  .social__facebook, .social__twitter
    display: inline-block !important
    padding: 0px 20px
