body{
  margin:0;
  font-family: 'PT Sans Narrow', sans-serif;
}

.responsiveImage img{
  max-width:100%;
  height:auto;
}

/**************

    HEADER

***************/

header#header{
  padding-top:120px;
  background:#27ae60;
}


header#header .menu-header-container{
  background:#2ecc71;
}
header#header .menu_header{
  list-style:none;
}
header#header .menu_header li{
  display:inline-block;
  padding:10px 20px;
}

header#header .menu_header li a{
  color:#FFFFFF;
}


/*********************


      CONTENT


**********************/

h1{
  text-transform:uppercase;
  color:#16a085;
  font-size:24px;
  margin-top:40px;
  margin-bottom:30px;
}

h2{
  color:#16a085;
  font-size:20px;
  margin-bottom:4px;
}
h3{
  font-size:13px;
  margin-top:0px;
  margin-bottom:20px;
}

h3 a{
  color:#16a085;

}

.annonces article:nth-child(3n +1){
  clear:both;
}
.annonces article{
  margin-bottom:30px;
}

.list-category-annonces ul{
  margin-left:0;
  padding-left:0;
  margin-bottom:20px;
}
.list-category-annonces li{
  list-style: none;
  display:inline-block;
  margin-left:0;
  padding-left:0;

}
.list-category-annonces li a{
  padding:6px 12px;
  margin-right:20px;
  font-size:14px;
  background:#16a085;
  color:#FFFFFF;
  border-radius:2px;
}
.list-category-annonces li a.current{
  color:#16a085;
  background:#FFFFFF;
}

.buttonMore{
  clear:both;
  display:block;
  width:150px;
  margin-top:30px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding:6px 12px;
  font-size:14px;
  background:#16a085;
  color:#FFFFFF;
  border-radius:2px;
}
/***************

    PAGENAVI

***************/
.pagination{
  display:block;
}
.wp-pagenavi{
  text-align:center;
}

.wp-pagenavi span, .wp-pagenavi span.current{
  color:#16a085;
  border-color:#16a085;
}
.wp-pagenavi a{
  background:#16a085;
  text-decoration:none;
  color:#FFFFFF;
  border-color:#16a085;
}
.wp-pagenavi a:hover{
  background:#FFFFFF;
  color:#16a085;
}



/******************

    SEARCH

*******************/


.searchSection{
  padding:30px 0;
}

#searchAjax {
  position:relative;
  text-align:left;
  width:300px;
  margin:0 auto;
}

#searchResult{
  position:absolute;
  z-index:10;
  background:#ECECEC;
  display:none;

}
#searchAjaxInput{
  padding:7px 5px;
  width:250px;
  font-size:18px;

}
#searchResult li{
  list-style:none;
  padding:10px 0;
  width:300px;
}

/***************

    FOOTER

***************/

footer#footer{

  height:200px;
  background:#1abc9c;
  margin-top:50px;
}



/******************

    PROGRAMME

******************/


div.full_img {
  position: absolute;
  left: 0;
  height: 300px;
  width: 100%;
  background-image : url('../images/background1.jpg');
  background-size: cover;
}